<footer class="bg-dark text-white mt-3">
    <br>
    <p class="h4 text-center">follow us on:</p>
    <center>
        <div class="social-icons" style="font-size: 3em;">
            <a href="#" style="color:#efefef;"><i class="fab mx-3 fa-twitter-square"></i></a>
            <a href="#" style="color:#efefef;"><i class="fab mx-3 fa-google-plus-square"></i></a>
            <a href="#" style="color:#efefef;"><i class="fab mx-3 fa-facebook-square"></i></a>
            <a href="#" style="color:#efefef;"><i class="fab mx-3 fa-instagram-square"></i></a>
            <a href="#" style="color:#efefef;"><i class="fab mx-3 fa-linkedin"></i></a>
        </div>
    </center>
    <br>
        <p class="copyright text-center">BBS7779 © 2019</p>
    <br>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>