.img-thumbnail img{
    width: 100%;
    max-height: 300px;
}

.thumbnail, .img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption-full{
    padding: 10px;
}

#delete-form{
    display:inline;
}
#margin10{
    margin-bottom: 10px;
}

.blog-intro{
    color: #333333;
}