.img-thumbnail img{
    width: 100%;
    max-height: 300px;
}

.thumbnail, .img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption-full{
    padding: 10px;
}

.index-image {
    min-height: 200px !important;
}

.side-image {
    min-height: 150px !important;
}

.nav-item {
    color: #f3f3f3 !important;
}

.nav-item:hover,
.nav-item:focus {
    color: #d6d6d6 !important;
}

#delete-form{
    display:inline;
}
#margin10{
    margin-bottom: 10px;
}

.blog-intro{
    color: #333333;
}

.read-more {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

footer a:hover{
    color: #b5bfc9 !important;
}